apiVersion: v1
kind: Service
metadata:
  name: mysql
  labels:
    app: mysql
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.mysql.port }}
      targetPort: 3306
  selector:
    app: mysql
