apiVersion: v1
kind: Service
metadata:
  name: nginx
  labels:
    app: nginx
spec:
  type: ClusterIP
  ports:
    - port: {{ .Values.service.nginx.port }}
      targetPort: 80
  selector:
    app: nginx
